In [2]:
import pandas as pd

In [72]:
import pandas as pd

years = range(1880,2017)
columns = ['Name','Gender','Count']
df_res = pd.DataFrame()
for year in years:
    path = 'C:\\Users\\gsevo\\Desktop\\names\\yob%d.txt' % year
    df = pd.read_csv(path, names=columns)

    df['year'] = year
    df_res = df_res.append(df,ignore_index=True)
df_res

              Name Gender  Count  year
0             Mary      F   7065  1880
1             Anna      F   2604  1880
2             Emma      F   2003  1880
3        Elizabeth      F   1939  1880
4           Minnie      F   1746  1880
...            ...    ...    ...   ...
1892418     Zolton      M      5  2016
1892419     Zurich      M      5  2016
1892420     Zyahir      M      5  2016
1892421       Zyel      M      5  2016
1892422      Zylyn      M      5  2016

[1892423 rows x 4 columns]

In [5]:
def show_top_name_by_year(year):
    years = year
    
    columns = ['Name','Gender','Count']
    df_res = pd.DataFrame()
    for year in years:
        path = 'C:\\Users\\gsevo\\Desktop\\names\\yob'+str(year) +'.txt' 
        df = pd.read_csv(path, names=columns)

        
        df_res = df_res.append(df,ignore_index=True)
    df_res = df_res.groupby(['Name']).sum()
    df_res = df_res.sort_values('Count', ascending=False)
    # print(df_res['Count'])
    print(df_res.index[0:3])

    df_res

In [7]:
show_top_name_by_year([1900])

Index(['Mary', 'John', 'William'], dtype='object', name='Name')

In [42]:
def show_dynamics(year):
    years = year
    male = []
    female = []
    columns = ['Name','Gender','Count']
    df_res = pd.DataFrame()
    for year in years:
        path = 'C:\\Users\\gsevo\\Desktop\\names\\yob'+str(year) +'.txt' 
        df_res = pd.read_csv(path, names=columns)
      
        df_res = df_res.groupby(['Gender']).sum()
        df_res = df_res.values.tolist()
        male.append(df_res[0][0])
        female.append(df_res[1][0])
    # print(df_res)
    print(f'M:{male}')
    print(f'F:{female}')
    
show_dynamics([1900, 1950 , 2000])

[[1815295], [1963202]]
M:[299798, 1713065, 1815295]
F:[150480, 1790437, 1963202]